.page {
  display: grid;
  grid-template-columns: 1fr;
}
.header {
  display: flex;
  justify-content: center;
  max-width: 1052px;
  margin: 92px 24px 96px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 18px;
  color: #000;
}

.header-nav-list__item-current {
  list-style: none;
}

.header-nav-list__item__link-current {
  text-decoration: none;
}

.header-nav-list__item {
  list-style: circle;
  text-decoration: underline;
  letter-spacing: 0.01em;
}

.header-logo__link {
  margin: 0 194px 0 46px;
  display: block;
  width: 129px;
  height: 104px;
}

.header-logo__link__image {
  width: 129px;
  height: 104px;
}
.contacts {
  max-width: 240.52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  color: #000;
}

.contacts__link {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  margin-bottom: 179px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: #fff;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}

.cover-titel {
  width: 1000px;
  margin: 165px 50px 135px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover-description {
  margin: 0 50px 51px 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-description__text {
  word-spacing: 0.85em;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
}

.bet-button {
  font-family: "Raleway", Arial, sans-serif;
  min-width: 256px;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.lots {
  max-width: 1052px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 146px;
}

.lots-header {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots-cards-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  color: #fff;
}

.lots-cards-list__item {
  width: 334px;
  list-style: none;
  min-height: 563px;
}

.lots-cards-list__item__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.lots__cards {
  padding: 50px 40px 48px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.lots__cards-list__item__text {
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__link-see-more {
  display: block;
  max-width: 192px;
  margin: 30px 0 0 40px;
  font-size: 20px;
  color: #000;
  line-height: 23.48px;
}

.about {
  display: grid;
  grid-template-columns: 287px 2fr;
  gap: 72px;
  margin: 0 auto 180px;
  width: 1052px;
}

.about-logo {
  padding: 35px 0 0 47px;
}

.about-logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about-logo__image {
  width: 141.54px;
  height: 112.55px;
}

.about-auction {
  padding-top: 136px;
  color: #000;
}

.about-auction-header {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.about-auction__paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.about-letter-space {
  letter-spacing: 0.02em;
}

.about-letter-space_reduce {
  letter-spacing: -0.01em;
}

  .about-letter-space_increase {
letter-spacing: 0.03em;
}

.about-letter-space_too_increase {
  letter-spacing: 0.04em;
}

.about-letter-space_too_reduce {
  letter-spacing: 0.01em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px;
}

.footer-nav-list {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  color: #000;
}

.footer-nav-list__item {
  list-style: none;
}

.footer-nav-list__item__link-current {
  text-decoration: none;
}

.nav-social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.nav-social-media-list__item {
  list-style: none;
}

.social-media-list__item__image {
  width: 48px;
  height: 48px;
}